@import './MainSiteCss/Header.css';
@import './MainSiteCss/Search.css';
@import './MainSiteCss/Main.css';
@import './MainSiteCss/Footer.css';
@import './MainSiteCss/Realtors.css';
@import './MainSiteCss/Agencies.css';
@import './MainSiteCss/Agency.css';
@import './MainSiteCss/Realtor.css';
@import './MainSiteCss/OfferSlider.css';
@import './MainSiteCss/Offer.css';

@import './AdminCss/AdminLogin.css';
@import './AdminCss/AdminHeader.css';
@import './AdminCss/AdminNavigation.css';
@import './AdminCss/AdminMainPage.css';
@import './AdminCss/AdminSearch.css';
@import './AdminCss/AdminCreateAgency.css';

.wraper {
    width: 98%;
    margin: 0 auto;
}
.admin-wrapper-content {
  margin-top: 95px;
  margin-left:201px;
}
.admin-add {
  margin-top: 40px;
  display: grid;
  place-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.admin-add:hover {
  color: orange
}
.admin-list {
  display: grid;
  place-content: center;
  margin-top: 40px
}
.admin-list-title,.admin-list-items {
  display: grid;
  grid-template-columns: 40px 150px 200px 170px 150px 100px 140px;
  margin: 0;
  padding: 0;
}
.admin-list-title>li,.admin-list-items>li{
  list-style: none;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  background-color: rgb(239, 239, 239);
}
.admin-list-items {
  border: 1px dashed #000;
  margin: 10px 0px 5px 0;
}
.admin-list-items> li{
  border-left: 1px dashed #000;
}
.create-content {
  display: grid;
  justify-items: center;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .slick-prev::before,.slick-next::before {
    color: black !important;
    font-size: 30px !important;
  }