@import 'Header.css';
@import 'Search.css';
@import 'Main.css';
@import 'Footer.css';
@import 'Realtors.css';
@import 'Agencies.css';
@import 'Agency.css';
@import 'Realtor.css';
@import 'OfferSlider.css';
@import 'Offer.css';


.wraper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .slick-prev::before,.slick-next::before {
    color: black !important;
    font-size: 30px !important;
  }