@import './MainSiteCss/Header.css';
@import './MainSiteCss/Search.css';
@import './MainSiteCss/Main.css';
@import './MainSiteCss/Footer.css';
@import './MainSiteCss/Realtors.css';
@import './MainSiteCss/Agencies.css';
@import './MainSiteCss/Agency.css';
@import './MainSiteCss/Realtor.css';
@import './MainSiteCss/OfferSlider.css';
@import './MainSiteCss/Offer.css';
@import './MainSiteCss/NotFound.css';

@import './AdminCss/AdminLogin.css';
@import './AdminCss/AdminHeader.css';
@import './AdminCss/AdminNavigation.css';
@import './AdminCss/AdminMainPage.css';
@import './AdminCss/AdminSearch.css';
@import './AdminCss/AdminCreateAgency.css';
@import './AdminCss/AdminMain.css';

.wraper {
    width: 98%;
    margin: 0 auto;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .slick-prev::before,.slick-next::before {
    color: black !important;
    font-size: 30px !important;
  }