.realtors-main {
    margin: 0px 15px;
    padding: 30px 0;
}
.realtors-search {
    background-color: #f4e4e4;
    padding: 30px 0;
}
.realtors-title {
    margin: 0 0 30px 0;
    letter-spacing: 1.5px;
    font-size: 20px;
    position: relative;
}
.realtors-city {
    margin-left: 10px;
    font-size: 24px;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 2px 5px 5px 5px;
    cursor: pointer;
    transition: 1.5s;
    background-color: #ffff;
}
.realtors-find-city {
    display: none;
    position: absolute;
    z-index: 2;
    top:45px;
    left: 180px;
    font-size: 16px;
    letter-spacing: normal;
    font-weight: 400;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 30px;  
    background-color: #f8f1f1;
}
#realtors-find-city-input {
    width: 200px;
    border: 1px solid #000;
    outline: none;
    height: 40px;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 10px;
    margin-left: 15px;
}
.realtors-find-city-form>button {
    display: block;
    margin-top: 40px;
    margin-left: 40%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 16px;
    transition: 1.5s;
    background-color: #fff;
}
.realtors-find-city-form>button:hover {
    background-color: #27cc87;
}
.realtors-search-form {
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.realtors-search-input {
    width: 350px;
    border: 1px solid #000;
    outline: none;
    height: 40px;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 10px;
}
.realtors-search-btn {
    width: 100px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    border: 1px solid #000;
    transition: 1.5s;
    background-color: #fff;
    border-radius: 30px;
}
.realtors-city:hover,.realtors-search-btn:hover {
    background-color: #27cc87;
}
.open-city-form {
    display: block;
}
.open-city-form-btn {
    background-color: #27cc87;
}

.realtors-content {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    place-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
.realtors-item {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 5px rgba(0,0,0,0.2);
}
.realtors-image {
    width: 250px;
    height: 200px;
    margin-right: 10px;
}
.realtors-image>img {
    width: 100%;
    height: 100%;
}
.realtors-item-name {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}
.realtors-item-position {
    margin: 10px 0px 5px 0;
    
}
.realtors-item-rating-container {
    margin-top:20px;
}
.realtors-item-rating-fontawesome {
    color:#f9f108; 
}
.realtors-item-rating-count {
    color:#000
}
.realtors-item-contacts {
    margin: 10px 0;
}
.realtors-item-tel,.realtors-item-number {
    margin: 0;
}

@media screen and (max-width:1045px){
    .realtors-content {
        grid-template-columns: repeat(1, 400px);
    }
}
@media screen and (max-width:515px) {
    .realtors-content {
        grid-template-columns: repeat(1, 310px);
    }
    .realtors-item{
        width: 300px;
    }
    .realtors-image{
        width: 150px;
        height: 100%;
    }
    .realtors-find-city{
        left: 70px;
    }
    .realtors-search-form{
        max-width: 350px;
    }
    .realtors-search-input{
        width: 250px;
        margin-right: 10px;
    }
}