<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8" />
         <title>Логін</title>
         <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="login-body">
            <div class="login-wrapper">
                <form class="login-form">
                    <label for="login">Введіть Email</label>
                    <input id="login" class="login"/>
                    <label for="password">Введіть пароль</label>
                    <input id="password" class="password"/>
                    <button class="login-btn">Увійти</button>
                    <span>Неправильний email або пароль</span>
                </form>
            </div>
        </div>
    </body>
</html>
